/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';

.aauto{
	width: 297px;
	margin: auto;
}

.bg-dark{
	background-color: #009999 !important;
}

label{
	margin-top: 10px;
	margin-bottom: 0px;
}

.main{
	margin-top: 10px;
}

.create{
	margin-top: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #008080;
    border-color: #008080;
}

a{
	color: #00b3b3;
	text-decoration: none !important;
}

input{
	margin-top: 10px !important;
    color: #fff !important;
    background-color: #008080 !important;
    border-color: #008080 !important;
    display: inline-block !important;
    font-weight: 400 !important;
    text-align: center !important;
    vertical-align: middle !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        border-left-color: transparent !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    border-radius: 0.25rem !important;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

input:hover{
	background-color: #0069d9 !important;
}

#user_password{
    color: #212529 !important;
	background-color: transparent !important;
	border: 1px solid #e6ffff !important;
	width: 297px !important;
}

#user_email{
    color: #212529 !important;
	background-color: transparent !important;
	border: 1px solid #e6ffff !important;
	width: 297px !important;
}

#user_password_confirmation{
    color: #212529 !important;
	background-color: transparent !important;
	border: 1px solid #e6ffff !important;
	width: 297px !important;
}

#product_name{
    color: #212529 !important;
	background-color: transparent !important;
	border: 1px solid #e6ffff !important;
	width: 297px !important;	
}

#product_description{
    color: #212529 !important;
	background-color: transparent !important;
	border: 1px solid #e6ffff !important;
	width: 297px !important;		
}

#product_photo{
    color: #212529 !important;
	background-color: transparent !important;
	border: 1px solid #e6ffff !important;
	width: 297px !important;			
}

#product_price{
    color: #212529 !important;
	background-color: transparent !important;
	border: 1px solid #e6ffff !important;
	width: 297px !important;		
}

.new_product{
	margin-bottom: 20px;
}

h2{
	text-align: center;
	margin-top: 10px !important;
	margin: auto;
	width: 340px;
}

.new_user{
	width: 297px;
	margin: auto;
}

a{
	display: inline-block !important;
}

.add{
	margin-top: 10px;

}

.col-lg-4{
	margin-top: 10px;
}

li{
	list-style-type: none;
}

.carousel-item{
	margin-top: 10px !important;
}

.marg{
	margin: 5px;
	margin-bottom: 0px;
}

.main{
	width: 314px;
	margin: auto;
}